<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Cuenta</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
      <a class="navbar-brand" href="index.html">Streaming</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="series.html">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="peliculas.html">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="favoritos.html">Favoritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cuenta.html">Mi Cuenta</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-500">
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid"
                alt="Phone image"
              />
            </div>
            <form>
             
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="email"
                  id="form-email"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="form1Example13">
                    Verifica tu Email</label>
              </div>
              <div
                class="d-flex justify-content-around align-items-center mb-4"
              >
                        <!-- Submit button -->
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-lg btn-block"
              >
                Recuperar contraseña
              </button>
              
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="path/to/validate.js"></script>
  </body>
</html>
